@font-face {
	font-family: 'PFDinTextPro-Bold';
	src: url('fonts/PFDinTextPro-Bold.eot');
    src: url('fonts/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFDinTextPro-Bold.woff') format('woff'),
         url('fonts/PFDinTextPro-Bold.ttf') format('truetype'),
         url('fonts/PFDinTextPro-Bold.svg') format('svg');
}

@font-face {
	font-family: 'roboto-condensed';
	src: url('fonts/roboto-condensed.eot');
    src: url('fonts/roboto-condensed.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-condensed.woff') format('woff'),
         url('fonts/roboto-condensed.ttf') format('truetype'),
         url('fonts/roboto-condensed.svg') format('svg');
}

@font-face {
	font-family: 'roboto-light';
	src: url('fonts/roboto-light.eot');
    src: url('fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light.woff') format('woff'),
         url('fonts/roboto-light.ttf') format('truetype'),
         url('fonts/roboto-light.svg') format('svg');
}

@font-face {
	font-family: 'roboto-medium';
	src: url('fonts/roboto-medium.eot');
    src: url('fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium.woff') format('woff'),
         url('fonts/roboto-medium.ttf') format('truetype'),
         url('fonts/roboto-medium.svg') format('svg');
}

@font-face {
	font-family: 'roboto-bold';
	src: url('fonts/roboto-bold.eot');
    src: url('fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold.woff') format('woff'),
         url('fonts/roboto-bold.ttf') format('truetype'),
         url('fonts/roboto-bold.svg') format('svg');
}

@font-face {
	font-family: 'roboto-black';
	src: url('fonts/roboto-black.eot');
    src: url('fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-black.woff') format('woff'),
         url('fonts/roboto-black.ttf') format('truetype'),
         url('fonts/roboto-black.svg') format('svg');
}

/* normalize css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block; }
audio,canvas,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden],template { display: none; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
ul{ list-style:none; margin: 0; padding: 0; }
p{ margin: 0; padding: 0; }
a { background: transparent; text-decoration:none;}
a:focus { outline: thin dotted; }
a:active,a:hover { outline: 0;}
h1, h2, h3, h4, h5, h6 { margin: 0;}
abbr[title] { border-bottom: 1px dotted;}
b,strong { font-weight: bold;}
dfn { font-style: italic;}
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0;}
mark { background: #ff0; color: #000;}
code,kbd,pre,samp { font-family: monospace, serif; font-size: 1em;}
pre { white-space: pre-wrap;}
q { quotes: "\201C" "\201D" "\2018" "\2019";}
small { font-size: 80%;}
sub,sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup { top: -0.5em;}
sub { bottom: -0.25em;}
img { border: 0;}
svg:not(:root) { overflow: hidden;}
figure { margin: 0;}
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend { border: 0; padding: 0; }
button,input,select,textarea { font-family: inherit; font-size: 100%; margin: 0; }
button,input { line-height: normal;}
button,select { text-transform: none;}
button,html input[type="button"], input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer; border: none;}
button[disabled],html input[disabled] { cursor: default;}
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
input[type=text]{ padding: 0; }
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0;}
input:focus{ outline:none; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0;}
/*end normalize css */

.clearfix:before, .clearfix:after,.row:after,.row:before { content: ""; display: table; }
.clearfix:after,.row:after { clear: both; }
.clearfix,.row { zoom: 1; }/* for IE6-7 */

.row{ margin: 0 -10px; }
.row > [class^=col-]{ float: left; margin: 0 10px; }
.col-1{ width: 62px; }
.col-2{ width: 144px; }
.col-3{ width: 226px; }
.col-4{ width: 308px; }
.col-5{ width: 390px; }
.col-6{ width: 472px; }
.col-7{ width: 554px; }
.col-8{ width: 636px; }
.col-9{ width: 718px; }
.col-10{ width: 800px; }
.col-11{ width: 882px; }
.col-12{ width: 964px; }

.relative-b{ position: relative !important; }

.pt-35{ padding-top: 35px !important; }
.pt-15{ padding-top: 15px !important; }
.pt-10{ padding-top: 10px !important; }

.pb-15{ padding-bottom: 15px !important; }
.pb-10{ padding-bottom: 10px !important; }

.pl-0{ padding-left: 0px !important; }

.pr-0{ padding-right: 0px !important; }

.ml-95{ margin-left: 95px !important; }
.ml-50{ margin-left: 50px !important; }
.ml-40{ margin-left: 40px !important; }
.ml-20{ margin-left: 20px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-0{ margin-left: 0px !important; }

.mr-45{ margin-right: 45px !important; }
.mr-10{ margin-right: 10px !important; }

.mt-25{ margin-top: 25px !important; }
.mt-2{ margin-top: 2px !important; }

.mb-10{ margin-bottom: 10px !important; }

.w-100pr{ width: 100% !important; }
.w-90{ width: 90px !important; }
.w-100{ width: 100px !important; }
.w-200{ width: 200px !important; }
.w-416{ width: 416px !important; }
.w-300{ width: 300px !important; }
.w-307{ width: 307px !important; }

.h-300{ display: block; height: 300px !important; }
.h-200{ display: block; height: 200px !important; }
.h-250{ display: block; height: 250px !important; }
.h-177{ height: 177px !important; }
.h-120{ height: 120px !important; }
.h-45{ height: 45px !important; }

.alfa{ margin-left: 0 !important; }
.omega{ margin-right: 0 !important; }

.bd-4-gray_wo_border{ border: 0px; }
.bd-4-gray{ border: 4px solid #d1d3d4; }
.bd-5-gray{ border: 5px solid #d1d3d4; }
.bd-7-yellow{ border: 7px solid #fcff43; }
.bd-10-yellow{ border: 10px solid #fcff43; }
.bd-12-yellow{ border: 12px solid #fcff43; }
.bd-12-gray{ border: 12px solid #d1d3d4; }

.showmore { text-align: center; }

.text-underline{ text-decoration: underline !important; }

.text-color-yellow{ color: #fcff43 !important; }

.lh-50{ line-height: 50px !important; }

.b-h495{
	height: 495px;
}

.b-h496{
	height: 496px;
}

.b-h395{
	height: 395px;
}


body{
	font: 14px 'roboto-condensed', Arial,sans-serif;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.wrapper-b{
	width: 964px;
	margin: 0 auto;
	padding: 0 0 40px 0;
}

.container{
	padding: 25px 0 0 0;
}

/* header block */
.header-b{
	padding: 12px 0 0 0;
}

.header-b .logo-b{
	display: block;
	width: 77px;
	height: 86px;
	background: url(../img/img-logo.png) 0 0 no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 16px;
	left: -11px;
}

.header-b .quote-b{
	font: 22px 'PFDinTextPro-Bold', Arial,sans-serif;
	color: #2b3238;
	padding-top: 2px;
}

.header-b .quote-b span{
	padding-right: 16px;
}

.header-nav-b{
	padding: 11px 0 0 0;
}

.header-nav-b li{
	float: left;
	padding: 0 12px;
	border-left: 1px solid #abafb2;
}

.header-nav-b li a{
	display: block;
	font-size: 12.4px;
	color: #076cb6;
	
}

.header-nav-b li.active a{
	text-decoration: line-through;
	color: #2f363c;
}

.header-nav-b li:first-child{
	padding-left: 0;
	border-left: none;
}

.social-header-b{
	
}

.social-header-b li{
	float: left;
	margin: 0 0 0 8px;
}

.social-header-b li a{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/sprite-icons-social-small.png) 0 -2px no-repeat;
	text-indent: -100px;
	overflow: hidden;
}

.social-header-b li.i-info a{
	background-position: 0 -2px;
}

.social-header-b li.i-vk a{
	background-position: -31px -2px;
}

.social-header-b li.i-fb a{
	background-position: -63px -2px;
}

.search-header-b{
	width: 265px;
	height: 35px;
	margin: 7px 0 0 0;
	background: #fff;
}

.search-header-b input[type="text"]{
	width: 225px;
	height: 35px;
	padding: 0;
	font: 16px/35px 'roboto-light', Arial,sans-serif;
	color: #83888b;
	text-indent: 10px;
	border: none;
	float: left;
}

.search-header-b input[type="submit"]{
	width: 36px;
	height: 35px;
	background: url(../img/ico-search.png) center center no-repeat;
	float: right;
	text-indent: -200px;
	overflow: hidden;
}

.line-header-gray{
	width: 868px;
	border-bottom: 7px solid #acaeb0;
	margin-top: 13px;
}
/* END header block */

/* content block */
.main-news-b .title-b{
	height: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #c7cacd;
	margin-top: -2px;
}

.main-news-b .title-b h3{
	font-size: 15px;
	font-weight: normal;
	color: #4b545b;
}

.main-news-b .tabs-b{
	
}

.main-news-b .tabs-b a{
	float: left;
	font-size: 15px;
	color: #acaeb0;
	margin-left: 9px;
}

.main-news-b .tabs-b a.active{
	color: #2d343a;
}

.tabs-content-b{
	margin-top: 5px;
}

.tabs-content-b > ul{
	display: none;
}

.tabs-content-b li:first-child{
	border-top: none;
}

.tabs-content-b li{
	float: left;
	width: 100%;
	padding: 8px 0 5px 0;
	border-top: 1px solid #f0f0f0;
}

.tabs-content-b li .img-b{
	font: 14px 'roboto-bold',Arial,sans-serif;
	color: #c7cacd;
	width: 55px;
	height: 55px;
	float: left;
}

.tabs-content-b li .img-b img{
	width: 55px;
	height: 55px;
}

.tabs-content-b li .text-b{
	float: right;
	width: 230px;
	padding: 0 10px 0 0;
	margin-top: -5px;
}

.tabs-content-b li .subject-b{
	height: 45px;
	overflow: hidden;
}

.tabs-content-b li .subject-b a{
	height: 47px;
	display: table-cell;
	/*vertical-align: middle;*/
	padding: 7px 0 0 0;
	font: 12px/14px 'roboto-light',Arial,sans-serif;
	color: #000;
} 

.tabs-content-b li .subject-b a:hover{
	font-family: 'roboto-medium',Arial,sans-serif;
	font-weight: bold;
}

.tabs-content-b li .params-b{
	font-size: 12px;
	color: #737373;
	margin-top: 5px;
}

.tabs-content-b li .date-b{
	float: left;
	width: 33px;
	border-right: 1px solid #7a7a7a;
}

.tabs-content-b li .location-b{
	float: left;
}

.tabs-content-b li .location-b i{
	width: 15px;
	height: 19px;
	float: left;
	background: url(../img/ico-marker.png) 0 0 no-repeat;
	margin: -2px 5px 0 5px;
}

.tabs-content-b li .location-b span{
	float: left;
}

.wr-main-slider-b{
	position: relative;
}

.main-slider-b > li{
	position: relative;
	height: 401px;
	width: 636px;
}

.main-slider-b > li img{
	height: 401px;
	width: 636px;
}

.main-slider-b > li .text-b{
	position: absolute;
	bottom: 42px;
	left: 6px;
}

.main-slider-b > li .text-b li{
	margin-bottom: 0;
}

.main-slider-b > li .text-b span{
	padding: 0px 7px;
	background: rgba(64,70,69,0.7);
	font: 21px 'roboto-bold',Arial,sans-serif;
	color: #fff;
}

.main-slider-b > li .text-b span.name-b{
	text-decoration: underline;
}

.main-slider-btn-navig{
	height: 30px;
	position: absolute;
	bottom: 12px;
	left: 6px;
	padding: 0 5px 0 7px;
	background: rgba(64,70,69,0.7);
}

.main-slider-btn-navig #main-slider-prev,
.main-slider-btn-navig #main-slider-next{
	float: left;
}

.main-slider-btn-navig #main-slider-prev a,
.main-slider-btn-navig #main-slider-next a{
	display: block;
	width: 8px;
	height: 22px;
	background: url(../img/sprite-arrows-slider-main.png) 0 0 no-repeat;
	text-indent: -50px;
	overflow: hidden;
	margin-top: 2px;
}

.main-slider-btn-navig #main-slider-next a{
	background-position: -8px 0;
	margin-left: 5px;
}

.main-slider-btn-navig #main-slider-pager-b{
	float: left;
}

.main-slider-btn-navig #main-slider-pager-b .bx-pager-item{
	float: left;
}

.main-slider-btn-navig .bx-pager-item a{
	float: left;
	width: 120px;
	height: 30px;
	margin-left: 2px;
	overflow: hidden;
	text-indent: -500px;
	position: relative;
}

.main-slider-btn-navig .bx-pager-item a:before{
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 120px;
	height: 2px;
	background: #99a097;
}

.main-slider-btn-navig .bx-pager-item a.active:before{
	background: #fcff43;
}

.wr-statistic-slider-b{
	border: 12px solid #fcff43;
	height: 90px;
	position: relative;
}

.statistic-slider-b li{
	height: 90px;
}

.statistic-slider-b li .img-right,
.statistic-slider-b li .img-left{
	width: 90px;
	height: 80px;
	margin-top: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.statistic-slider-b li .img-right img,
.statistic-slider-b li .img-left img{
	max-width: 90px;
	max-height: 80px;
}

.statistic-slider-b li .nr-left{
	float: left;
}

.statistic-slider-b li .nr-right{
	float: right;
}

.statistic-slider-b li .stat-b{
	width: 100px;
	height: 90px;
	display: table-cell;
	background: url(../img/ico-delimeter-1.png) center center no-repeat;
}

.statistic-slider-b li .nr-left,
.statistic-slider-b li .nr-right{
	font:  14px/90px 'roboto-black',Arial,sans-serif;
	color: #08060a;
}

.wr-statistic-slider-b #statistic-slider-prev,
.wr-statistic-slider-b #statistic-slider-next{
	position: absolute;
	top: 18px;
}

.wr-statistic-slider-b #statistic-slider-prev{
	left: -64px;
}

.wr-statistic-slider-b #statistic-slider-next{
	right: -64px;
}

.wr-statistic-slider-b #statistic-slider-prev a,
.wr-statistic-slider-b #statistic-slider-next a{
	display: block;
	width: 18px;
	height: 54px;
	background: url(../img/sprite-arrows-blue.png) 0 0 no-repeat;
	text-indent: -50px;
	overflow: hidden;
	margin-top: 2px;
}

.wr-statistic-slider-b #statistic-slider-next a{
	background-position: -19px 0;
}

.main-item-view{
	
}

.main-item-view .img-b2{
	text-align: center;
}

.main-item-view .img-b2 > a{
	width: 285px;
	display: table-cell;
	height: 140px;
	vertical-align: middle;
	text-align: center;
}

.main-item-view .img-b2 p{
	
}

.main-item-view .img-b2 p a{
	font-size: 18px;
	color: #080607;
}

.main-item-view .img-b{
	position: relative;
}

.main-item-view .img-b .video-b:before{
	content: url(../img/ico-play-video.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -36px 0 0 -37px;
	z-index: 3;
}

.main-item-view .text-b{
	position: absolute;
	z-index: 2;
}

.main-item-view .text-top{
	top: 5px;
	left: 5px;
}


.main-item-view .text-bottom{
	bottom: 8px;
	left: 5px;
}

.main-item-view .text-b.text-bg-blue span{
	background: rgba(79,113,147,0.6);
}

.main-item-view .text-b.text-bg-green span{
	background: rgba(38,99,107,0.6);
}

.main-item-view .text-b li{
	margin-bottom: 4px;
}

.main-item-view .text-b span{
	padding: 2px 5px;
	font: 17px 'roboto-condensed',Arial,sans-serif;
	color: #fff;
	background: rgba(0,0,0,0.6);
}

.main-item-view .params-b{
	padding: 13px 0 0 0;
}

.main-item-view .params-b .name-b a{
	font: 11.5px/18px 'roboto-light',Arial,sans-serif;
	color: #676766;
}

.main-item-view .params-b .name-b{
	float: left;
	height: 18px;
	border: 3px solid #d5dade;
	padding: 0 4px;
}

.main-item-view .params-b .like-b a,
.main-item-view .params-b .view-b a,
.main-item-view .params-b .date-b a{
	font: 12px/22px 'roboto-condensed',Arial,sans-serif;
	color: #676766;
}

.main-item-view .params-b .like-b,
.main-item-view .params-b .view-b,
.main-item-view .params-b .date-b{
	margin-left: 10px;
	float: left;
}

.main-item-view .params-b .like-b,
.main-item-view .params-b .view-b{
	float: right;
}

.main-item-view .params-b .like-b i,
.main-item-view .params-b .view-b i{
	width: 20px;
	height: 15px;
	margin-top: 4px;
	float: left;
	background: url(../img/ico-sup-items.png) 0 0 no-repeat;
}

.main-item-view .params-b .like-b span,
.main-item-view .params-b .view-b span{
	float: left;
	margin-left: 5px;
}

.main-item-view .params-b .like-b i{
	background-position: -20px 0;
}

.main-item-view .params-b .view-b i{
	background-position: 0 0;
}

.facts-and-figures-b{
	height: 413px;
	position: relative;
	border: 4px solid #c5e8f8;
}

.facts-and-figures-b .i-line-b1,
.facts-and-figures-b .i-line-b2{
	position: absolute;
	width: 60px;
	left: 50%;
	margin-left: -30px;
	border-top: 5px solid #cccccd;
	border-bottom: 1px solid #f3f3f3;
}

.facts-and-figures-b .i-line-b1{
	top: 69px;
}

.facts-and-figures-b .i-line-b2{
	bottom: 75px;
}

.facts-and-figures-b .nr-b{
	padding-top: 120px;
	font: 58px 'PFDinTextPro-Bold', Arial,sans-serif;
	color: #3d4143;
	text-align: center;
}

.facts-and-figures-b .text-b{
	height: 138px;
	font: 14px 'roboto-light', Arial,sans-serif;
	color: #040406;
	text-align: center;
}

.facts-and-figures-b .link-b{
	width: 120px;
	display: block;
	margin: 40px auto 0 auto;
	font-size: 13px;
	color: #101517;
}

.main-calendar-b .nr-b{
	width: 85px;
	height: 85px;
	margin: 11px auto 25px auto;
	border: 12px solid #fbff93;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	text-align: center;
	position: relative;
}

.main-calendar-b .nr-b .t2{
	font: 58px 'PFDinTextPro-Bold',Arial,sans-serif;
	color: #040404;
}

.main-calendar-b .nr-b .t1{
	width: 85px;
	position: absolute;
	bottom: 10px;
	left: 0;
	display: block;
	font: 14px 'roboto-medium',Arial,sans-serif;
	color: #040404;
}

.main-calendar-b .text-b{
	height: 266px;
	position: relative;
	border: 7px solid #e8e9ea;
	border-top: 5px solid #e8e9ea;
	border-bottom: 5px solid #e8e9ea;
}

.main-calendar-b .text-b .title-b{
	position: absolute;
	width: 210px;
	left: 50%;
	top: -10px;
	margin-left: -105px;
	text-align: center;
	background: #fff;
	font-size: 13px;
	line-height: 20px;
	color: #3c4246;
}

.main-calendar-b .text-b .inner-b{
	height: 200px;
	margin-top: 20px;
}

.main-calendar-b .text-b .link-b{
	width: 120px;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	color: #101517;
}

.interesting-list-b .title-b{
	padding-top: 10px;
	border-top: 3px solid #848484;
	font: 19px 'roboto-medium',Arial,sans-serif;
	color: #2b2b2b;
}

.interesting-list-b .title-b2{
	font: 19px/20px 'roboto-medium',Arial,sans-serif;
	color: #e4e4e4;
}

.interesting-list-b li{
	float: left;
	width: 100%;
	margin-top: 20px;
}

.interesting-list-b li .img-b{
	width: 123px;
	height: 75px;
	float: left;
}

.interesting-list-b li .img-b img{
	width: 123px;
	height: 75px;
}

.interesting-list-b li .subject-b{
	padding-left: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px;
	line-height: 14px;
	color: #333333;
	background: url(../img/ico-list-style-1.png) 0 2px no-repeat;
}

.interesting-list-b li .text-b{
	width: 172px;
	float: right;
}

.interesting-list-b li .text-b > p{
	height: 48px;
	overflow: hidden;
	font: 12px/16px 'roboto-light',Arial,sans-serif;
	color: #191a1f;
	padding-top: 10px;
}

.interesting-list-b li .text-b > p span{
	padding-right: 8px;
	color: #999;
}

.wr-video-slider-b{
	position: relative;
}

.wr-video-slider-b #video-slider-prev,
.wr-video-slider-b #video-slider-next{
	position: absolute;
	top: 65px;
}

.wr-video-slider-b #video-slider-prev{
	left: -52px;
}

.wr-video-slider-b #video-slider-next{
	right: -52px;
}

.wr-video-slider-b #video-slider-prev a,
.wr-video-slider-b #video-slider-next a{
	display: block;
	width: 18px;
	height: 54px;
	background: url(../img/sprite-arrows-blue.png) 0 0 no-repeat;
	text-indent: -50px;
	overflow: hidden;
	margin-top: 2px;
}

.wr-video-slider-b #video-slider-next a{
	background-position: -19px 0;
}

.main-item-view2{
	
}

.main-item-view2 .img-b{
	text-align: center;
	height: 212px;
}

.main-item-view2 .subject-b{
	text-align: center;
}

.main-item-view2 .subject-b a{
	font-size: 18px;
	color: #2d2d2d;
}

.main-item-view2 .text-b p{
	padding-top: 10px;
	font: 13px/14px 'roboto-light',Arial,sans-serif;
	color: #2d2d2d;
	text-align: center;
}

.live-list-b li{
	float: left;
	width: 285px;
	margin-right: 20px;
	padding: 15px 0;
}

.live-list-b li .text-b{
	float: left;
	width: 210px;
}

.live-list-b li .text-b .subject-b{
	font: 14px/18px 'roboto-medium',Arial,sans-serif;
	color: #17161b;
}

.live-list-b li .text-b p{
	font: 13px/15px 'roboto-light',Arial,sans-serif;
	color: #939393;
	padding-top: 10px;
}

.live-list-b li .img-b{
	float: right;
	width: 70px;
	height: 72px;
	margin-top: 5px;
}

.live-list-b li .img-b img{
	width: 70px;
	height: 72px;
}

.wr-slide-live-list-b{
	position: relative;
}

.wr-slide-live-list-b #slide-live-list-prev,
.wr-slide-live-list-b #slide-live-list-next{
	position: absolute;
	top: 32px;
}

.wr-slide-live-list-b #slide-live-list-prev{
	left: -64px;
}

.wr-slide-live-list-b #slide-live-list-next{
	right: -64px;
}

.wr-slide-live-list-b #slide-live-list-prev a,
.wr-slide-live-list-b #slide-live-list-next a{
	display: block;
	width: 18px;
	height: 54px;
	background: url(../img/sprite-arrows-blue.png) 0 0 no-repeat;
	text-indent: -50px;
	overflow: hidden;
	margin-top: 2px;
}

.wr-slide-live-list-b #slide-live-list-next a{
	background-position: -19px 0;
}

.info-block-type1{
	position: relative;
	height: 401px;
}

.info-block-type1 > img{
	width: 964px;
	height: 401px;
}

.info-block-type1 .text-b{
	position: absolute;
	left: 28px;
	top: 50px;
}

.info-block-type1 .subject-b li{
	margin-bottom: 2px;
}

.info-block-type1 .subject-b span{
	padding: 1px 5px;
	font: 38px 'roboto-black',Arial,sans-serif;
	color: #fff;
	background: rgba(84,106,128,0.6);
}

.info-block-type1 .subject-b .news-block{
	padding: 1px 5px;
	font: 38px 'roboto-black',Arial,sans-serif;
	color: #000;
	background: #fff;
}

.info-block-type1 .params-b{
	margin-top: 50px;
}

.info-block-type1 .params-b li{
	float: left;
	width: 70px;
	margin: 0 20px 0 0;
}

.info-block-type1 .params-b i{
	display: block;
	height: 43px;
	margin: 0 auto;
	background: url(../img/sprite-icons-info-b.png) 0 0 no-repeat;
}

.info-block-type1 .params-b li.i-time i{
	width: 40px;
    background-position: 0px 1px;
}

.info-block-type1 .params-b li.i-comm i{
	width: 50px;
	background-position: -97px 1px;
}

.info-block-type1 .params-b li.i-like i{
	width: 45px;
	background-position: -193px 1px;
}

.info-block-type1 .params-b li.i-geo i{
	width: 25px;
    background-position: -308px 1px;
}

.info-block-type1 .params-b p{
	padding-top: 7px;
	font: 18px 'roboto-medium',Arial,sans-serif;
	color: #9fa2a4;
	text-align: center;
}

.info-block-type1 .breadcrumbs-b{
	height: 22px;
	border: 4px solid #d2eafa;
	margin-top: 38px;
	float: left;
}

.info-block-type1 .breadcrumbs-b a{
	padding: 0 10px;
	font: 11.5px/22px 'roboto-light',Arial,sans-serif;
	color: #2f363c;
	border-left: 1px solid #d2eafa;
}

.info-block-type1 .breadcrumbs-b a:first-child{
	border-left: none;
}

.info-block-type1 .breadcrumbs-b a span{
	padding: 0 5px;
	line-height: 20px;
}

.info-block-type1 .rubrika-b{
	height: 22px;
	border: 4px solid rgb(249,253,0);
	margin-top: 38px;
	margin-left: 10px;
	float: left;
}

.info-block-type1 .rubrika-b a{
	padding: 0 10px;
	font: 11.5px/22px 'roboto-light',Arial,sans-serif;
	color: #2f363c;
	border: 0px solid rgb(249,253,0);
}

.info-block-type1 .rubrika-b a:first-child{
	border-left: none;
}

.info-block-type1 .rubrika-b a span{
	padding: 0 5px;
	line-height: 20px;
}


.article-block{
	
}

.article-block p{
	padding: 0 0 25px 110px;
	font: 15px/20px 'roboto-light',Arial,sans-serif;
	color: #3a3939;
	text-align: justify;
}

.article-block .notice-b{
	font: 23px/28px 'roboto-medium',Arial,sans-serif;
	color: #3a3939;
}

.article-block .notice-b .line-b{
	width: 60px;
	border-bottom: 13px solid #e1e1e0;
	margin-bottom: 10px;
}

.wr-gallery-slider-b{
	position: relative;
}

.wr-gallery-slider-b .bx-caption{
	margin-top: 10px;
	font: 11.5px 'roboto-light',Arial,sans-serif;
	color: #41474d;
}

.gallery-slider-btn-navig{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 51;
}

.gallery-slider-btn-navig > div{
	float: left;
}

.gallery-slider-btn-navig #gallery-slider-prev{
	margin-right: 5px;
}

.gallery-slider-btn-navig #gallery-slider-next{
	margin-left: 5px;
}

.gallery-slider-btn-navig #gallery-slider-prev a,
.gallery-slider-btn-navig #gallery-slider-next a{
	display: block;
	width: 18px;
	height: 14px;
	background: url(../img/sprite-arrows-gallery.png) 0 0 no-repeat;
	text-indent: -50px;
	overflow: hidden;
	margin-top: 4px;
}

.gallery-slider-btn-navig #gallery-slider-next a{
	background-position: -51px 0;
}

.main-social-b  li{
	float: left;
	margin-left: 20px;
}

.main-social-b li a{
	display: block;
	width: 48px;
	height: 50px;
	text-indent: -500px;
	overflow: hidden;
	background: url(../img/sprite-icons-social-big.png) 0 0 no-repeat;
}

.main-social-b li.i-fb a{
	background-position: 0 0;
}

.main-social-b li.i-vk a{
	background-position: -66px 0;
}

.main-social-b li.i-twitter a{
	background-position: -135px 0;
}

.main-social-b li.i-gp a{
	background-position: -202px 0;
}

.main-social-b li.i-info a{
	background-position: -275px 0;
}

.counter-comment-b{
	
}

.counter-comment-b a{
	font: 16px 'roboto-bold', Arial,sans-serif;
	color: #888f95;
}

.tags-b{
	
}

.tags-b > i{
	width: 17px;
	height: 17px;
	background: url(../img/sprite-icons.png) -1px 0 no-repeat;
	float: left;
}

.tags-b a{
	padding: 0 3px;
	margin-right: 10px;
	font: 11.5px 'roboto-light',Arial,sans-serif;
	color: #83888b;
	border: 3px solid #d7d7d7;
}

.title-type1 > i{
	width: 17px;
	height: 18px;
	background: url(../img/sprite-icons.png) -1px -41px no-repeat;
	float: left;
}

.title-type1 > h3{
	font-size: 14px;
	color: #3a3939;
	float: left;
}

.main-video-b .name-b{
	padding: 0 0 25px 0;
	font: 22px/27px 'roboto-black',Arial,sans-serif;
	color: #4c5155;
}

.main-video-b .params-b{
	padding: 7px 0 5px 0;
}

.main-video-b .params-b .type-b a{
	font: 11.5px/22px 'roboto-light',Arial,sans-serif;
	color: #2f363c;
}

.main-video-b .params-b .type-b span{
	padding: 0 5px;
	line-height: 20px;
}

.main-video-b .params-b .type-b{
	float: left;
	height: 22px;
	border: 4px solid #e0f6ff;
	padding: 0 4px;
}

.main-video-b .params-b .rubrika-b{
	float: left;
	height: 22px;
	border: 4px solid rgb(249,253,0);
	padding: 0 4px;
	margin-left: 10px;
}

.main-video-b .params-b .like-b a,
.main-video-b .params-b .view-b a,
.main-video-b .params-b .date-b a{
	font: 12px/30px 'roboto-condensed',Arial,sans-serif;
	color: #676766;
}

.main-video-b .params-b .like-b,
.main-video-b .params-b .view-b,
.main-video-b .params-b .date-b{
	margin-left: 10px;
	float: right;
}

.main-video-b .params-b .like-b i,
.main-video-b .params-b .view-b i{
	width: 20px;
	height: 15px;
	margin-top: 7px;
	float: left;
	background: url(../img/ico-sup-items.png) 0 0 no-repeat;
}

.main-video-b .params-b .like-b span,
.main-video-b .params-b .view-b span{
	float: left;
	margin-left: 5px;
}

.main-video-b .params-b .like-b i{
	background-position: -20px 0;
}

.main-video-b .params-b .view-b i{
	background-position: 0 0;
}

.info-block-type2{
	position: relative;
	height: 322px;
}

.info-block-type2 > img{
	width: 964px;
	height: 322px;
}

.info-block-type2 .text-b{
	position: absolute;
	left: 28px;
	top: 50px;
}

.info-block-type2 .subject-b span{
	padding: 1px 5px;
	float: left;
	font: 38px 'roboto-black',Arial,sans-serif;
	color: #fff;
	background: rgba(84,106,128,0.6);
}

.info-block-type2 .params-b{
	margin-top: 50px;
}

.info-block-type2 .params-b li{
	float: left;
	margin: 0 20px 0 0;
}

.info-block-type2 .params-b .nr-b{
	font: 37px 'roboto-bold',Arial,sans-serif;
	color: #fcfbf9;
	text-align: center;
}

.info-block-type2 .params-b p{
	padding-top: 7px;
	font: 18px 'roboto-medium',Arial,sans-serif;
	color: #fcfbf9;
	text-align: center;
}

.info-block-type2 .breadcrumbs-b{
	height: 22px;
	border: 4px solid rgba(6,25,42,0.7);
	background: rgba(31,45,58,0.7);
	margin-top: 55px;
	float: left;
}

.info-block-type2 .breadcrumbs-b a{
	padding: 0 10px;
	font: 11.5px/22px 'roboto-light',Arial,sans-serif;
	color: #fcfbf9;
	border-left: 1px solid #fcfbf9;
}

.info-block-type2 .breadcrumbs-b a:first-child{
	border-left: none;
}
/* END content block */

/* footer */
.footer-b{
    margin-top: 30px;
    padding: 35px 35px 30px 25px;
    background: #eee;
}

.footer-b .logo-g{
	float: left;
}

.footer-b .copyright-b{
	float: left;
	padding-left: 20px;
	font: 12px/15px 'roboto-light',Arial,sans-serif;
}

.footer-b .copyright-b p{
	padding-top: 10px;
}

.footer-b .text-b{
	width: 525px;
	float: right;
}

.footer-b__social > .ttl-b{
	width: 240px;
	font: 36px/33px 'roboto-medium',Arial,sans-serif;
	color: #adadad;
}

.footer-b__social > .ttl-b span{
	float: left;
}

.footer-b__social > .ttl-b img{
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}

.footer-b__social ul{
	padding-top: 3px;
	padding-right: 4px;
}

.footer-b__social ul li{
	float: left;
	margin-left: 8px;
}

.footer-b__social .ico-b{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/sprite-social-gray.png) 0 0 no-repeat;
    -webkit-transition: background-position 0.2s;
	transition: background-position 0.2s;
}

.footer-b__social .i-vk:hover{
	background-position: -4px -30px;
}

.footer-b__social .i-vk{
	background-position: -4px 0;
}

.footer-b__social .i-fb:hover{
	background-position: -42px -30px;
}

.footer-b__social .i-fb{
	background-position: -42px 0;
}

.footer-b__social .i-tw:hover{
	background-position: -80px -30px;
}

.footer-b__social .i-tw{
	background-position: -80px 0;
}

.footer-b__social .i-pr:hover{
	background-position: -119px -30px;
}

.footer-b__social .i-pr{
	background-position: -119px 0;
}

.footer-b__social .i-y:hover{
	background-position: -158px -30px;
}

.footer-b__social .i-y{
	background-position: -158px 0;
}

.footer-b__social .i-gp:hover{
	background-position: -197px -30px;
}

.footer-b__social .i-gp{
	background-position: -197px 0;
}

.footer-b__nav{
	padding-top: 19px;
}

.footer-b__nav li{
	float: left;
	margin-left: 71px;
}

.footer-b__nav li:first-child{
	margin-left: 0;
}

.footer-b__nav a{
	font: 12px/12px 'roboto-light',Arial,sans-serif;
	color: #000;
}

.footer-b__nav a:hover{
	text-decoration: underline;
}

/* END footer */
